<% @matches.each do |match| %>
  <div class="col-sm-4 mt-3">
    <div class="match-tile rounded" data-id="<%= match.id %>">
      <p class="text-white"><%= match.first_name %></p>
    </div>
  </div>
<% end %>
