<div class="profile-bar">
  <%= link_to "My profile", class: "d-block text-white" do %>
    <div>
      <p style="float: left" class="profile-thumb profile-bar-pic rounded-circle"></p>
      My profile
    </div>
  <% end %>
</div>
